# Ignore folders
__pycache__/
bkse/
motionblur/
pretrained_models/
results_github/
results_github_test/
save_similarity_lists/
sample.sh
sample_sbatch.sh
data/DAPS_samples/
results_test_expectation/
test_resample/
sample_resample.sh